<h1>Event loop test</h1>
<% Event.find_each do |event| %>
  <div>
    <h2><%= link_to "#{event.name}", "/events/#{event.id}" %></h2>
    <h5>Event start: <%= event.start_time %></h3>
    <h5>Event finishes: <%= event.end_time %></h3>
  </div>
  <% Event.find("#{event.id}").visitors.each do |visitor| %>
  <div>
    <h4><%= link_to "#{visitor.name}", "/visitors/#{visitor.id}" %></h2>
    <h5>Visitor Email: <%= visitor.email %></h3>
    <h5>Visitor Phone: <%= visitor.phone %></h3>
  </div>
<% end %>
<br>
<% end %>
