

<body>

  <div class="about-us-slider">
    <div class="container">
      <div class="row header">
        <div class="col-md-12">
          <h3><%= @event.name %></h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <img src="/images/office2.png" class="img-fluid" alt="Responsive image">
        </div>
      </div>
    </div>
  </div>

  <div class="about-us-team">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h1>Event Description</h1>
          <%= @event.description %>
          <h5>Event Details</h5>
          <p>
            <h6>Start Time</h6>
            <div>
              <%= @event.start_time.strftime("%B %e, %Y") %>
            </div>
            <div>
              <%= @event.start_time.strftime("%l:%M %p") %>
            </div>
          </p>
          <%= link_to "Edit Event", "/events/#{@event.id}/edit", class: "btn btn-success" %>
          <%= link_to "Delete", "/events/#{@event.id}", method: :delete, class: "btn btn-danger" %>
        </div>
        <div class="col-md-6">
          <div class="panel panel-default">
              <div class="panel-heading">
                <h4>
                  Event Participants 
                </h4>
              </div>
              <table class="table">
                <thead>
                  <tr>
                    <th class="col-xs-8">Name</th><th class="col-xs-2">Check in status</th>
                  </tr>
                </thead>
                <tbody>
                <% @event.visitors.each do |visitor|%>
                <% check_in_status = visitor.listed_participants.find_by(event_id: @event.id, visitor_id: visitor.id).check_in %>

                  <tr>
                    <td class="col-xs-8"><%= link_to visitor.name, "/visitors/#{visitor.id}" %></td><td class="col-xs-2"> <%= check_in_status %> </td>
                  </tr>
                <% end %>
                </tbody>
              </table>
          </div>
          <!-- Button trigger modal -->
          <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
            Add Visitors to this Event
          </button>

          <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Add Visitor</h4>
                  </div>
                  
                  <div class="modal-body">
                    <div class="field form-group">
                    <%= form_tag '/participants', method: :post do %>
                      <div class="form-group">
                        Select Visitor to add them: <%= collection_select :visitor, :visitor_id, Visitor.all, :id, :name, {}, class: "form-control" %>
                      </div>
                      <div>
                        <%= hidden_field_tag :event_id, @event.id %>
                      </div>
                    <div>
                      
                    </div>


                    <input type="submit" value="Add Visitor">
                    <% end %>




                    </div>
                  </div>



                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        </div>
      </div>

      <div class="row team">
      </div>
    </div>
  </div>



  <script type="text/javascript">
    $(function() {
      $('.flexslider').flexslider({
        directionNav: false,
        slideshowSpeed: 4000
      });
      $('[data-toggle="tooltip"]').tooltip();
    });
  </script>
</body>
</html>