<h1>Event Title: <%= @event.name %></h1>
<h5>Last Updated: <%= @event.updated_at %></h5>
<h3>Event Description: <%= @event.description %></h3>
<h3>Event Start Time: <%= @event.start_time %></h3>
<h3>Event End Time: <%= @event.end_time %></h3>

<br>

<h1>Current Event Visitors</h1>
<a href="/participants/new" class="btn btn-info" role="button">Add visitors</a>
<% Event.find("#{@event.id}").visitors.each do |visitor| %>
  <div>
    <h2><%= link_to "#{visitor.name}", "/visitors/#{visitor.id}" %></h2>
    <h3>Visitor Email: <%= visitor.email %></h3>
    <h3>Visitor Phone: <%= visitor.phone %></h3>
  </div>
<% end %>
<br>
<%= link_to "Edit Event", "/events/#{@event.id}/edit", class: "btn btn-success" %>
<a href="/participants/new" class="btn btn-danger" role="button">Delete Event</a>